.home-page {
  display: flex;
  flex-direction: column-reverse;
  justify-content: flex-end;
  height: 950px;
  background-color: rgb(12, 12, 48);
}
.main-logo {
  position: absolute;
  width: 150px;
  left: 0px;
}
#nav-bar {
  display: flex;
  height: 10%;
  align-items: center;
  background-color: #030625;
  justify-content: flex-end;
}
.top-bar {
  width: 45em;
  margin-left: 550px;
  display: flex;

  list-style-type: none;
  justify-content: space-around;
}
.nav-link {
  font-size: 1.2rem;
  font-family: 'roboto', sans-serif;
  color: white;
}
.mid-logo {
  width: 60%;
  margin-top: 20%;
  margin-right: auto;
  margin-left: auto;
}
.main-text{
  display:flex;
  justify-content: center;
  font-family:'roboto';
  font-size:40px;
  font-weight:1000;
  text-align:center;
  margin-top:10%;
}
.catch-main{
  margin-left:10px;
  color:blue;
}
.catch-text{
  color:white;
}