* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}
.home-page {
  display: flex;
  flex-direction: column-reverse;
  justify-content: flex-end;
  height: 980px;
  background-color: rgb(12, 12, 48);
}
.main-logo {
  position: absolute;
  width: 150px;
  left: 0px;
}
#nav-bar {

  /* position: fixed; */
  background-color: #030625;
  height: 10%;
  width:100%;
  align-items: center;
  justify-content: flex-end;
}
.top-bar {
  display:flex;
  width: 45em;
  height:100%;
  margin-left: 60%;


  list-style-type: none;
  align-items: center;
  justify-content: space-around;
}
.nav-link {
  text-decoration: none;
  font-size: 1.3rem;
  font-family: 'roboto', sans-serif;
  color: white;
}
.mid-logo {
  width: 60%;
  margin-top: 15%;
  margin-right: auto;
  margin-left: auto;
}
.main-text{
  display:flex;
  justify-content: center;
  font-family:'roboto';
  font-size:40px;
  font-weight:1000;
  text-align:center;
  margin-top:5%;
}
.catch-main{
  margin-left:10px;
  color:blue;
}
.catch-text{
  color:white;
}
#features-container {
  height: 650px;
  display:grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(3, 1fr);
  
}
.icon {
  color:#030625;
}
h2{
  margin-bottom:20px;
}
.grid-1,.grid-2,.grid-3{
  display:flex;
  flex-direction: column;
  gap:5%;
  margin-top:3%;
  text-align:center;
  font-size:20px;
  font-family: 'roboto',sans-serif;
  
}

.icon-3 {
  font-size: 58px; 
  
}
.nav-link:hover{
color:blue;
}

.latest{
  height:600px;
  margin-top:3%;
  background-color:#030625;
}
.logitech-g{
  color:white;
  position: absolute;
  top:178%;
  left:10%;
  right: 10%;
  font-family: 'roboto',sans-serif;
  font-size: 5rem;
  font-weight: 200;
  text-align: center;
}
.player{
  position: absolute;
  left: 35%;
 top:198%;
}

.latest:hover .logitech-g{
  color:blue;
  transition:2s;
}
.description{
  color:white;
  position: absolute;
  top:190%;
  left:10%;
  right:10%;
  font-family: 'roboto',sans-serif;
  font-size: 20px;
  text-align: center;
}
}